### A Forensic Analysis of the BTC Economy
#### An attempt to predict what BTCs are spent on

In [1]:
#Import relevant libraries

import pandas as pd
import numpy as np
import seaborn as sns
sns.set_style("whitegrid")

import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.colors import BASE_COLORS
from matplotlib import pyplot

### Merge dataframes together

In [2]:
df_net1 = pd.read_csv('rec_addresses_grouped.csv')

In [3]:
df_net2 = pd.read_csv('sent_addresses_grouped.csv')

In [4]:
### merge both together on addresse  !!! cannot make this work

In [5]:
#df = pd.merge(df_net1,df_net2, how='outer',on='addresse')

In [6]:
#df.head(50)

#### Adding data from the BTC ecosystem

In [7]:
df_eco = pd.read_csv('bitcoin_ecosystem.csv')

In [8]:
df_net1.head()

,transfer_dates,addresse,number_of_txin,income,sector_txin
0,2011-03-05,1CcuZAiTqHUFzSVVJ2mjwEnDKjejm7edUm,1,5000000.0,Scam
1,2011-03-07,1CcuZAiTqHUFzSVVJ2mjwEnDKjejm7edUm,1,14000000.0,Scam
2,2011-03-08,1CcuZAiTqHUFzSVVJ2mjwEnDKjejm7edUm,1,24000000.0,Scam
3,2011-03-09,1CcuZAiTqHUFzSVVJ2mjwEnDKjejm7edUm,1,79000000.0,Scam
4,2011-03-13,1CcuZAiTqHUFzSVVJ2mjwEnDKjejm7edUm,1,505000000.0,Scam

In [9]:
#df_net1.rename(columns = {'transfer_date':'date'}, inplace = True)

In [10]:
df_net1.shape

(272186, 5)

In [11]:
df_eco.head()

,date,txVolume(USD),adjustedTxVolume(USD),txCount,marketcap(USD),price(USD),exchangeVolume(USD),generatedCoins,fees,activeAddresses,averageDifficulty,paymentCount,medianTxValue(USD),medianFee,blockSize,blockCount
0,2009-01-09,NaN,NaN,0,NaN,NaN,NaN,700.0,0.0,14,1.0,NaN,NaN,NaN,3010,14
1,2009-01-10,NaN,NaN,0,NaN,NaN,NaN,3050.0,0.0,61,1.0,NaN,NaN,NaN,13129,61
2,2009-01-11,NaN,NaN,0,NaN,NaN,NaN,4650.0,0.0,93,1.0,NaN,NaN,NaN,20033,93
3,2009-01-12,NaN,NaN,7,NaN,NaN,NaN,4700.0,0.0,102,1.0,5.0,NaN,0.0,22031,94
4,2009-01-13,NaN,NaN,0,NaN,NaN,NaN,6150.0,0.0,123,1.0,NaN,NaN,NaN,26527,123

In [12]:
df_eco.shape

(3605, 16)

In [13]:
df_net1['date']= pd.to_datetime(df_net1['transfer_dates'])

In [14]:
df_eco['date']= pd.to_datetime(df_eco['date'])

In [15]:
df = pd.merge(df_net1, df_eco, how='left',on='date')

In [16]:
df.head(60)

,transfer_dates,addresse,number_of_txin,income,sector_txin,date,txVolume(USD),adjustedTxVolume(USD),txCount,marketcap(USD),...,exchangeVolume(USD),generatedCoins,fees,activeAddresses,averageDifficulty,paymentCount,medianTxValue(USD),medianFee,blockSize,blockCount
0,2011-03-05,1CcuZAiTqHUFzSVVJ2mjwEnDKjejm7edUm,1,5.000000e+06,Scam,2011-03-05,NaN,NaN,1771,NaN,...,NaN,13850.0,2.403200,3610,5.558952e+04,1434.0,NaN,0.0,841250,277
1,2011-03-07,1CcuZAiTqHUFzSVVJ2mjwEnDKjejm7edUm,1,1.400000e+07,Scam,2011-03-07,NaN,NaN,1715,NaN,...,NaN,10550.0,5.977075,3409,5.558952e+04,1454.0,NaN,0.0,636480,211
2,2011-03-08,1CcuZAiTqHUFzSVVJ2mjwEnDKjejm7edUm,1,2.400000e+07,Scam,2011-03-08,NaN,NaN,2253,NaN,...,NaN,9350.0,3.930000,3867,5.558952e+04,1996.0,NaN,0.0,834757,187
3,2011-03-09,1CcuZAiTqHUFzSVVJ2mjwEnDKjejm7edUm,1,7.900000e+07,Scam,2011-03-09,NaN,NaN,1674,NaN,...,NaN,8000.0,3.247793,3384,6.267183e+04,1463.0,NaN,0.0,633037,160
4,2011-03-13,1CcuZAiTqHUFzSVVJ2mjwEnDKjejm7edUm,1,5.050000e+08,Scam,2011-03-13,NaN,NaN,2594,NaN,...,NaN,5850.0,1.755393,2893,7.619262e+04,1337.0,NaN,0.0,795116,117
5,2011-03-16,1CcuZAiTqHUFzSVVJ2mjwEnDKjejm7edUm,1,3.930000e+08,Scam,2011-03-16,NaN,NaN,3047,NaN,...,NaN,6800.0,1.810000,3166,7.619262e+04,1361.0,NaN,0.0,948013,136
6,2011-03-28,1CcuZAiTqHUFzSVVJ2mjwEnDKjejm7edUm,1,2.032000e+09,Scam,2011-03-28,NaN,NaN,2763,NaN,...,NaN,8400.0,4.410000,5336,6.897778e+04,2867.0,NaN,0.0,1071681,168
7,2011-04-04,1CcuZAiTqHUFzSVVJ2mjwEnDKjejm7edUm,1,1.738000e+09,Scam,2011-04-04,NaN,NaN,2131,NaN,...,NaN,8900.0,5.677855,4621,6.897778e+04,2471.0,NaN,0.0,825026,178
8,2011-06-28,1EYDXCpDpb85dTLb8rHBfNWoYbqRaNhNZL,1,2.285000e+09,Scam,2011-06-28,NaN,NaN,10559,NaN,...,NaN,8000.0,19.848706,26180,1.379192e+06,14445.0,NaN,0.0,4483043,160
9,2011-08-22,1qrx4Stu3qb6pSqRDZbvzBNkJ2aDXMspP,1,1.000050e+06,Scam,2011-08-22,NaN,NaN,7646,NaN,...,NaN,8450.0,7.551449,25202,1.805701e+06,17090.0,NaN,0.0,3524536,169
10,2011-10-29,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,1,1.000000e+06,miner,2011-10-29,NaN,NaN,5483,NaN,...,NaN,5650.0,3.473766,12873,1.468195e+06,6804.0,NaN,0.0,2452810,113
11,2011-10-30,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,1,2.090692e+11,miner,2011-10-30,NaN,NaN,4869,NaN,...,NaN,5550.0,3.283586,11401,1.468195e+06,5728.0,NaN,0.0,2054685,111
12,2011-10-31,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,17,8.500000e+10,miner,2011-10-31,NaN,NaN,5051,NaN,...,NaN,6550.0,3.121853,12022,1.235796e+06,6261.0,NaN,0.0,2081891,131
13,2011-11-01,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,8,4.000000e+10,miner,2011-11-01,NaN,NaN,5627,NaN,...,NaN,7500.0,4.903030,12768,1.203462e+06,6216.0,NaN,0.0,2313755,150
14,2011-11-02,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,3,2.000000e+10,miner,2011-11-02,NaN,NaN,5837,NaN,...,NaN,7700.0,3.298679,13117,1.203462e+06,6327.0,NaN,0.0,2351290,154
15,2011-11-03,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,7,6.500000e+10,miner,2011-11-03,NaN,NaN,6128,NaN,...,NaN,6250.0,2.909028,13114,1.203462e+06,6159.0,NaN,0.0,2424035,125
16,2011-11-04,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,14,2.061982e+11,miner,2011-11-04,NaN,NaN,6393,NaN,...,NaN,7350.0,3.149473,15815,1.203462e+06,7759.0,NaN,0.0,2783995,147
17,2011-11-05,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,8,4.000000e+10,miner,2011-11-05,NaN,NaN,5782,NaN,...,NaN,7300.0,3.622118,13495,1.203462e+06,6745.0,NaN,0.0,2500655,146
18,2011-11-06,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,17,8.500000e+10,miner,2011-11-06,NaN,NaN,4890,NaN,...,NaN,7200.0,2.366024,11541,1.203462e+06,6371.0,NaN,0.0,1915623,144
19,2011-11-07,19PkHafEN18mquJ9ChwZt5YEFoCdPP5vYB,2,1.000162e+10,miner,2011-11-07,NaN,NaN,5364,NaN,...,NaN,6600.0,3.480223,12641,1.203462e+06,6468.0,NaN,0.0,2382112,132
20,2011-11-07,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,11,5.500000e+10,miner,2011-11-07,NaN,NaN,5364,NaN,...,NaN,6600.0,3.480223,12641,1.203462e+06,6468.0,NaN,0.0,2382112,132
21,2011-11-08,19PkHafEN18mquJ9ChwZt5YEFoCdPP5vYB,2,1.000036e+10,miner,2011-11-08,NaN,NaN,5845,NaN,...,NaN,7450.0,4.167801,13738,1.203462e+06,7691.0,NaN,0.0,2684374,149
22,2011-11-08,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,20,1.000000e+11,miner,2011-11-08,NaN,NaN,5845,NaN,...,NaN,7450.0,4.167801,13738,1.203462e+06,7691.0,NaN,0.0,2684374,149
23,2011-11-09,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,16,7.504810e+10,miner,2011-11-09,NaN,NaN,6287,NaN,...,NaN,8050.0,3.281831,14341,1.203462e+06,7660.0,NaN,0.0,2730467,161
24,2011-11-10,17aBK3VYVyvvWsSEc4rGaYJ6b3qriB845a,1,2.689333e+09,coinjoin-like,2011-11-10,NaN,NaN,6400,NaN,...,NaN,7050.0,3.337790,14362,1.203462e+06,8341.0,NaN,0.0,2794431,141
25,2011-11-10,19PkHafEN18mquJ9ChwZt5YEFoCdPP5vYB,1,5.000150e+09,miner,2011-11-10,NaN,NaN,6400,NaN,...,NaN,7050.0,3.337790,14362,1.203462e+06,8341.0,NaN,0.0,2794431,141
26,2011-11-10,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,24,1.200000e+11,miner,2011-11-10,NaN,NaN,6400,NaN,...,NaN,7050.0,3.337790,14362,1.203462e+06,8341.0,NaN,0.0,2794431,141
27,2011-11-11,19PkHafEN18mquJ9ChwZt5YEFoCdPP5vYB,2,1.000000e+10,miner,2011-11-11,NaN,NaN,4974,NaN,...,NaN,5950.0,2.090900,12128,1.203462e+06,6117.0,NaN,0.0,2253016,119
28,2011-11-11,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,14,7.000000e+10,miner,2011-11-11,NaN,NaN,4974,NaN,...,NaN,5950.0,2.090900,12128,1.203462e+06,6117.0,NaN,0.0,2253016,119
29,2011-11-12,17aBK3VYVyvvWsSEc4rGaYJ6b3qriB845a,1,3.466249e+08,coinjoin-like,2011-11-12,NaN,NaN,4984,NaN,...,NaN,7150.0,2.471133,12259,1.203462e+06,6628.0,NaN,0.0,2194806,143
30,2011-11-12,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,18,9.000000e+10,miner,2011-11-12,NaN,NaN,4984,NaN,...,NaN,7150.0,2.471133,12259,1.203462e+06,6628.0,NaN,0.0,2194806,143
31,2011-11-13,19PkHafEN18mquJ9ChwZt5YEFoCdPP5vYB,3,1.500130e+10,miner,2011-11-13,NaN,NaN,5230,NaN,...,NaN,7200.0,2.842078,12538,1.203462e+06,6802.0,NaN,0.0,2127430,144
32,2011-11-13,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,18,9.000000e+10,miner,2011-11-13,NaN,NaN,5230,NaN,...,NaN,7200.0,2.842078,12538,1.203462e+06,6802.0,NaN,0.0,2127430,144
33,2011-11-14,19PkHafEN18mquJ9ChwZt5YEFoCdPP5vYB,1,5.000000e+09,miner,2011-11-14,NaN,NaN,5765,NaN,...,NaN,7150.0,2.753072,13718,1.196025e+06,7406.0,NaN,0.0,2631451,143
34,2011-11-14,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,25,1.250000e+11,miner,2011-11-14,NaN,NaN,5765,NaN,...,NaN,7150.0,2.753072,13718,1.196025e+06,7406.0,NaN,0.0,2631451,143
35,2011-11-15,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,25,1.250000e+11,miner,2011-11-15,NaN,NaN,5941,NaN,...,NaN,8250.0,2.882897,14168,1.192498e+06,8174.0,NaN,0.0,2703977,165
36,2011-11-16,19PkHafEN18mquJ9ChwZt5YEFoCdPP5vYB,1,5.000000e+09,miner,2011-11-16,NaN,NaN,5913,NaN,...,NaN,6750.0,3.769758,13156,1.192498e+06,7030.0,NaN,0.0,2619979,135
37,2011-11-16,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,15,7.500000e+10,miner,2011-11-16,NaN,NaN,5913,NaN,...,NaN,6750.0,3.769758,13156,1.192498e+06,7030.0,NaN,0.0,2619979,135
38,2011-11-17,19PkHafEN18mquJ9ChwZt5YEFoCdPP5vYB,1,5.000150e+09,miner,2011-11-17,NaN,NaN,4820,NaN,...,NaN,6950.0,2.847796,12196,1.192498e+06,6228.0,NaN,0.0,2249661,139
39,2011-11-17,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,15,7.500000e+10,miner,2011-11-17,NaN,NaN,4820,NaN,...,NaN,6950.0,2.847796,12196,1.192498e+06,6228.0,NaN,0.0,2249661,139
40,2011-11-18,19PkHafEN18mquJ9ChwZt5YEFoCdPP5vYB,2,1.000015e+10,miner,2011-11-18,NaN,NaN,5036,NaN,...,NaN,6650.0,3.356927,12421,1.192498e+06,6732.0,NaN,0.0,2211581,133
41,2011-11-18,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,21,1.050000e+11,miner,2011-11-18,NaN,NaN,5036,NaN,...,NaN,6650.0,3.356927,12421,1.192498e+06,6732.0,NaN,0.0,2211581,133
42,2011-11-19,19PkHafEN18mquJ9ChwZt5YEFoCdPP5vYB,3,1.500030e+10,miner,2011-11-19,NaN,NaN,4601,NaN,...,NaN,6150.0,3.130220,10092,1.192498e+06,6374.0,NaN,0.0,2060194,123
43,2011-11-19,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,14,7.000000e+10,miner,2011-11-19,NaN,NaN,4601,NaN,...,NaN,6150.0,3.130220,10092,1.192498e+06,6374.0,NaN,0.0,2060194,123
44,2011-11-20,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,16,8.000000e+10,miner,2011-11-20,NaN,NaN,4982,NaN,...,NaN,7150.0,3.935364,11419,1.192498e+06,6489.0,NaN,0.0,2415213,143
45,2011-11-21,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,20,1.000000e+11,miner,2011-11-21,NaN,NaN,4652,NaN,...,NaN,5900.0,2.772033,10158,1.192498e+06,6137.0,NaN,0.0,1954420,118
46,2011-11-22,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,14,7.000000e+10,miner,2011-11-22,NaN,NaN,5351,NaN,...,NaN,7000.0,2.958300,11490,1.192498e+06,6895.0,NaN,0.0,2359266,140
47,2011-11-23,19PkHafEN18mquJ9ChwZt5YEFoCdPP5vYB,2,1.000105e+10,miner,2011-11-23,NaN,NaN,5464,NaN,...,NaN,6700.0,3.512386,11499,1.192498e+06,6238.0,NaN,0.0,2271170,134
48,2011-11-23,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,14,7.000000e+10,miner,2011-11-23,NaN,NaN,5464,NaN,...,NaN,6700.0,3.512386,11499,1.192498e+06,6238.0,NaN,0.0,2271170,134
49,2011-11-24,19PkHafEN18mquJ9ChwZt5YEFoCdPP5vYB,1,5.000100e+09,miner,2011-11-24,NaN,NaN,4905,NaN,...,NaN,5650.0,3.999121,10946,1.192498e+06,6267.0,NaN,0.0,2274111,113
50,2011-11-24,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,20,1.000000e+11,miner,2011-11-24,NaN,NaN,4905,NaN,...,NaN,5650.0,3.999121,10946,1.192498e+06,6267.0,NaN,0.0,2274111,113
51,2011-11-25,19PkHafEN18mquJ9ChwZt5YEFoCdPP5vYB,1,5.000150e+09,miner,2011-11-25,NaN,NaN,5351,NaN,...,NaN,6750.0,4.286421,11682,1.192498e+06,7015.0,NaN,0.0,2280628,135
52,2011-11-25,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,13,6.500000e+10,miner,2011-11-25,NaN,NaN,5351,NaN,...,NaN,6750.0,4.286421,11682,1.192498e+06,7015.0,NaN,0.0,2280628,135
53,2011-11-26,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,11,5.500000e+10,miner,2011-11-26,NaN,NaN,4632,NaN,...,NaN,6000.0,2.834283,10288,1.192498e+06,5942.0,NaN,0.0,2079069,120
54,2011-11-27,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,14,7.000000e+10,miner,2011-11-27,NaN,NaN,4947,NaN,...,NaN,5700.0,2.550552,10752,1.192498e+06,6336.0,NaN,0.0,2060349,114
55,2011-11-28,19PkHafEN18mquJ9ChwZt5YEFoCdPP5vYB,2,1.000010e+10,miner,2011-11-28,NaN,NaN,5803,NaN,...,NaN,6350.0,3.043466,12621,1.192498e+06,7168.0,NaN,0.0,2556796,127
56,2011-11-28,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,17,8.500000e+10,miner,2011-11-28,NaN,NaN,5803,NaN,...,NaN,6350.0,3.043466,12621,1.192498e+06,7168.0,NaN,0.0,2556796,127
57,2011-11-29,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,18,9.000000e+10,miner,2011-11-29,NaN,NaN,6276,NaN,...,NaN,6900.0,4.380642,14376,1.149720e+06,7728.0,NaN,0.0,3006948,138
58,2011-11-30,19PkHafEN18mquJ9ChwZt5YEFoCdPP5vYB,1,5.000000e+09,miner,2011-11-30,NaN,NaN,6695,NaN,...,NaN,8100.0,3.654813,15435,1.090716e+06,7776.0,NaN,0.0,3305571,162
59,2011-11-30,1Mining2pfZRiFxGBQ6Jw8YNheUkHhyMfn,13,6.500000e+10,miner,2011-11-30,NaN,NaN,6695,NaN,...,NaN,8100.0,3.654813,15435,1.090716e+06,7776.0,NaN,0.0,3305571,162

### Description of the Data

Both datasets 

***Transfer Date*** - Date the transaction was included into a block and hence transferred

***Addresse*** - Receiving BTC addresse

***number_of_txin*** - Number of transactions a labeled addresse receives per day

***income*** - The sum of income each labeled addresse receives per day, denominated in Satoshi (1 Satoshi = 1e-8 BTC)

***sector_txin*** - The respective sector of the BTC addresse

***txVolume(USD)*** - On-chain transaction volume. A broad and largely unadjusted measure of the total value of outputs on the blockchain, on a given day. This is an answer to the question “approximately how much value, denominated in USD, circulates on the Bitcoin blockchain a day?”

***Price*** - BTC price from CoinMarketCap

***exchangeVolume(USD)*** The dollar value of the volume at exchanges like GDAX and Bitfinex.

***generatedCoins*** - This refers to the number of new coins that have been brought into existence on that day, which can be interpretated as the inflation rate. 

***fees*** - Fees paid for transactions, based on the native currency, not USD. 

***activeAddresses*** -  The number of unique sending and receiving addresses participating in transactions on the given day.

***averageDifficulty*** - Average measure of how difficult it is to find a hash below a given target. The Bitcoin network has a global block difficulty. Valid blocks must have a hash below this target. Mining pools also have a pool-specific share difficulty setting a lower limit for shares. This figure is relevant for the mining industry. 

***paymentCount*** - A more accurate figure than the txcount. Into each transaction various inputs and outputs can be bundled in, in order to save block memory and transaction fees. A practice that is often used by exchanges and big payment services, which have to make many transactions at once. Payment count for UTXO coins is defined as sum of outputs’ count minus one for each transaction. We assume that transaction with N outputs pays to N – 1 addresses and the last N-th output is change. Transactions with only one output do not contribute to payment count, as they are likely to be a self-churn. 

***medianTxValue(USD)***  -The median value of a transaction on a given day.

***medianFee*** -Median transaction fee on a given day.

We don't need certain features of the new dataframe for our prediction model, i.e. all the features regarding the blocks of the blockchain. Some features are redundant, such as txVolume with adjustedtxVolume and txCount with paymentcount as well as marketcap with price and coins generated (Market capitalization is calculated by multiplying the total number of Bitcoins in circulation by the Bitcoin price). I will drop those to avoide multicollinarity.

In [17]:
df= df.drop(['transfer_dates','adjustedTxVolume(USD)','txCount','marketcap(USD)','blockSize','blockCount'], axis = 1)

In [18]:
df.head()

,addresse,number_of_txin,income,sector_txin,date,txVolume(USD),price(USD),exchangeVolume(USD),generatedCoins,fees,activeAddresses,averageDifficulty,paymentCount,medianTxValue(USD),medianFee
0,1CcuZAiTqHUFzSVVJ2mjwEnDKjejm7edUm,1,5000000.0,Scam,2011-03-05,NaN,NaN,NaN,13850.0,2.403200,3610,55589.518127,1434.0,NaN,0.0
1,1CcuZAiTqHUFzSVVJ2mjwEnDKjejm7edUm,1,14000000.0,Scam,2011-03-07,NaN,NaN,NaN,10550.0,5.977075,3409,55589.518127,1454.0,NaN,0.0
2,1CcuZAiTqHUFzSVVJ2mjwEnDKjejm7edUm,1,24000000.0,Scam,2011-03-08,NaN,NaN,NaN,9350.0,3.930000,3867,55589.518127,1996.0,NaN,0.0
3,1CcuZAiTqHUFzSVVJ2mjwEnDKjejm7edUm,1,79000000.0,Scam,2011-03-09,NaN,NaN,NaN,8000.0,3.247793,3384,62671.834172,1463.0,NaN,0.0
4,1CcuZAiTqHUFzSVVJ2mjwEnDKjejm7edUm,1,505000000.0,Scam,2011-03-13,NaN,NaN,NaN,5850.0,1.755393,2893,76192.619348,1337.0,NaN,0.0

In [19]:
df.shape

(272186, 15)

In [20]:
df.dtypes

addresse                       object
number_of_txin                  int64
income                        float64
sector_txin                    object
date                   datetime64[ns]
txVolume(USD)                 float64
price(USD)                    float64
exchangeVolume(USD)           float64
generatedCoins                float64
fees                          float64
activeAddresses                 int64
averageDifficulty             float64
paymentCount                  float64
medianTxValue(USD)            float64
medianFee                     float64
dtype: object

### Doing a first EDA of the data

In [21]:
import pandas_profiling

In [22]:
#df.profile_report()

#### Notes on the first EDA


##### Skewness & Imbalance

***number_of_txin*** is skewed, because most addresses only receive 1 tx p day

***income*** similiar

> Both have extreme outliers, however since I believe high income or a high number of txin can hold important information for classifiing a BTC addresse, I will keep those.

***sector_txin*** data is very imbalanced. 
>I will get rid of the sectors coinjoin-like and scam and see if I can undersample illicit activties. 

***txVolume***, ***priceUSD***, ***mediantxvalue***,***exchangeValue(USD)***  many missing values due to that there haven’t been entries in the first years of BTC.
>Will see if I can replace those with an AVG txVolume for that year, if I can find these number on the internet
same for ***priceUSD*** and ***mediantxvalue*** and ***exchangeValue(USD)***

***exchangeValue(USD)*** also has a lot of 0
from the dataset description:
exchangevolume(USD) is, as you might expect, the dollar value of the volume at exchanges like GDAX and Bitfinex. We get this data to Coinmarketcap, who have a bit of a conflicted history with the figure, having deleted and re-added Korean exchange figures. It doesn’t include data on OTC exchanges, which is a meaningful portion of all global exchange. Remember that 0-fee exchange volume should be taken with a grain of salt.
> I might consider dropping this, testing its explanatory power first



#### CORRELATIONS

***generated coins*** and ***price*** are highly negatively correlated. If you think of generated coins as an inflation measure this could make sense, however since BTC prices are so massively driven by external demand, the reason for this correlation could be a different one.

Same for ***average difficulty*** and ***generated coins***, obvious since miners generate coins, and their mining activiy depends on average difficulty

A slightly lighter neg correlation  for ***generated coins*** with ***activeaddresses*** and ***fees***. 

>I decide to drop ***generated coins***  for now, since its function, describing the money supply and hence inflation rate, can be taken over by other features such as price, averagedifficulty 


***price*** correlates with ***exchangeVolume, fees, activeadresses, avgdifficulty.***
All of which makes sense, since it is the BTC price, which determines the activity in the BTC ecosystem.
Will keep it for now, since I believe it explanatory power for the outcome-labels. F.i. more people will send transactions to exchanges if the price rises and less transactions to gambling. 

>Test the explanatory power of price

***exchange volume, fees, active addresses*** correlates with the same features, but to a lesser extend. 
>Will be kept.


***average difficulty*** shows a high correlation with the same feature. will test its explanatory power on determining labels “mining” and then decide whether to drop it. 

>Test the explanatory avgdifficulty

### Data Cleaning & Wrangling

In [23]:
df1 = df

In [24]:
# Drop generated coins
df1= df1.drop(['generatedCoins'], axis = 1)

In [25]:
df1['sector_txin'].value_counts()

services         118711
exchange          88157
gambling          36625
miner             15177
coinjoin-like      7632
Illicit            5868
Scam                 16
Name: sector_txin, dtype: int64

In [26]:
# Get rid of coinjoin-like and scam classes in industry

#indexNames = df1[(df1['sector_txin'] == 'coinjoin-like') & (df1['sector_txin'] == 'Scam')].index
#df1.drop(indexNames , inplace=True)   

###WARUM? <--- coinjoin-like läscht sich nicht

In [27]:
indexNames2 = df1[(df1['sector_txin'] == 'Scam')].index
df1.drop(indexNames2 , inplace=True)

In [28]:
indexNames2 = df1[(df1['sector_txin'] == 'coinjoin-like')].index
df1.drop(indexNames2 , inplace=True)

In [29]:
df1['sector_txin'].value_counts()

services    118711
exchange     88157
gambling     36625
miner        15177
Illicit       5868
Name: sector_txin, dtype: int64

#### Testing whether I drop correlating values

In [30]:
#For testing the explanatory power of 
#exchangeValue(USD)
#price and 
#average difficulty
#I will do a small second EDA in Tableau

In [31]:
#EDA_BTC_Predictions = df1.to_csv('EDA_BTC-Predictions.csv', index = True)

In [32]:
#Insert image of EDA 

#check how to bin price

In [33]:
#average difficulty does not show much explanatory power, will be dropped
#So can addresse, since this value does not hold any information itself, it only serves to accumulate all the other features

df1= df1.drop(['averageDifficulty', 'addresse'], axis = 1)

#### Dealing with NaNs

In [34]:
#We can see that data entries are missing for the years 2011-2013

df1[df1['txVolume(USD)'].isna()]

,number_of_txin,income,sector_txin,date,txVolume(USD),price(USD),exchangeVolume(USD),fees,activeAddresses,paymentCount,medianTxValue(USD),medianFee
10,1,1.000000e+06,miner,2011-10-29,NaN,NaN,NaN,3.473766,12873,6804.0,NaN,0.0000
11,1,2.090692e+11,miner,2011-10-30,NaN,NaN,NaN,3.283586,11401,5728.0,NaN,0.0000
12,17,8.500000e+10,miner,2011-10-31,NaN,NaN,NaN,3.121853,12022,6261.0,NaN,0.0000
13,8,4.000000e+10,miner,2011-11-01,NaN,NaN,NaN,4.903030,12768,6216.0,NaN,0.0000
14,3,2.000000e+10,miner,2011-11-02,NaN,NaN,NaN,3.298679,13117,6327.0,NaN,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...
5606,1,1.000000e+02,gambling,2013-04-27,NaN,NaN,NaN,39.018931,78207,90117.0,NaN,0.0005
5608,13,2.095200e+05,gambling,2013-04-27,NaN,NaN,NaN,39.018931,78207,90117.0,NaN,0.0005
5609,9,7.794000e+03,gambling,2013-04-27,NaN,NaN,NaN,39.018931,78207,90117.0,NaN,0.0005
5610,1,3.660000e+03,gambling,2013-04-27,NaN,NaN,NaN,39.018931,78207,90117.0,NaN,0.0005
5611,1,1.470974e+06,Illicit,2013-04-27,NaN,NaN,NaN,39.018931,78207,90117.0,NaN,0.0005

In [35]:
df1.columns

Index(['number_of_txin', 'income', 'sector_txin', 'date', 'txVolume(USD)',
       'price(USD)', 'exchangeVolume(USD)', 'fees', 'activeAddresses',
       'paymentCount', 'medianTxValue(USD)', 'medianFee'],
      dtype='object')

In [36]:
df1.dtypes

number_of_txin                  int64
income                        float64
sector_txin                    object
date                   datetime64[ns]
txVolume(USD)                 float64
price(USD)                    float64
exchangeVolume(USD)           float64
fees                          float64
activeAddresses                 int64
paymentCount                  float64
medianTxValue(USD)            float64
medianFee                     float64
dtype: object

In [37]:
#Trying to replace NaNs in rows where Date.year = 2011 with 415486 for txVolume(USD) 2 for price(USD)  
#  0 exchangeVolume(USD)   1.75 medianTxValue(USD)

df1['txVolume(USD)'] = np.where(df1['date'].dt.year == 2011, 415486 , df1['txVolume(USD)'])

df1['price(USD)'] = np.where(df1['date'].dt.year == 2011, 2 , df1['price(USD)'])

df1['exchangeVolume(USD)'] = np.where(df1['date'].dt.year == 2011, 0 , df1['exchangeVolume(USD)'])

df1['medianTxValue(USD)'] = np.where(df1['date'].dt.year == 2011, 1.75 , df1['medianTxValue(USD)'])

In [38]:
#Trying to replace NaNs in rows where Date.year = 2012 with 2475471 for txVolume(USD) 3.60 for price(USD)  
#  0 exchangeVolume(USD)  2.00  medianTxValue(USD)

df1['txVolume(USD)'] = np.where(df1['date'].dt.year == 2012, 2475471, df1['txVolume(USD)'])

df1['price(USD)'] = np.where(df1['date'].dt.year == 2012, 3.60 , df1['price(USD)'])

df1['exchangeVolume(USD)'] = np.where(df1['date'].dt.year == 2012, 0 , df1['exchangeVolume(USD)'])

df1['medianTxValue(USD)'] = np.where(df1['date'].dt.year == 2012, 2, df1['medianTxValue(USD)'])

In [39]:
#Trying to replace NaNs in rows where Date.year = 2013 with 46966514 for txVolume(USD) 2 for price(USD)  
#   5801531.88  exchangeVolume(USD)  4.30  medianTxValue(USD)


df1['txVolume(USD)'] = np.where(df1['date'].dt.year == 2013, 2475471 , df1['txVolume(USD)'])

df1['price(USD)'] = np.where(df1['date'].dt.year == 2013, 466 , df1['price(USD)'])

df1['exchangeVolume(USD)'] = np.where(df1['date'].dt.year == 2013, 5801531.88 , df1['exchangeVolume(USD)'])

df1['medianTxValue(USD)'] = np.where(df1['date'].dt.year == 2013, 4.30, df1['medianTxValue(USD)'])

In [40]:
df1.head()

,number_of_txin,income,sector_txin,date,txVolume(USD),price(USD),exchangeVolume(USD),fees,activeAddresses,paymentCount,medianTxValue(USD),medianFee
10,1,1.000000e+06,miner,2011-10-29,415486.0,2.0,0.0,3.473766,12873,6804.0,1.75,0.0
11,1,2.090692e+11,miner,2011-10-30,415486.0,2.0,0.0,3.283586,11401,5728.0,1.75,0.0
12,17,8.500000e+10,miner,2011-10-31,415486.0,2.0,0.0,3.121853,12022,6261.0,1.75,0.0
13,8,4.000000e+10,miner,2011-11-01,415486.0,2.0,0.0,4.903030,12768,6216.0,1.75,0.0
14,3,2.000000e+10,miner,2011-11-02,415486.0,2.0,0.0,3.298679,13117,6327.0,1.75,0.0

In [41]:
df1.isna().values.any()

False

In [42]:
df1.isnull().sum()

number_of_txin         0
income                 0
sector_txin            0
date                   0
txVolume(USD)          0
price(USD)             0
exchangeVolume(USD)    0
fees                   0
activeAddresses        0
paymentCount           0
medianTxValue(USD)     0
medianFee              0
dtype: int64

#### Convert datetime

In [43]:
df1.dtypes

number_of_txin                  int64
income                        float64
sector_txin                    object
date                   datetime64[ns]
txVolume(USD)                 float64
price(USD)                    float64
exchangeVolume(USD)           float64
fees                          float64
activeAddresses                 int64
paymentCount                  float64
medianTxValue(USD)            float64
medianFee                     float64
dtype: object

In [44]:
df1['weekdays']= df1['date'].dt.weekday

In [45]:
df1['week_of_year']= df1['date'].dt.weekofyear

In [46]:
df1 = df1.drop(['date'], axis = 1)

In [47]:
df1.head()

,number_of_txin,income,sector_txin,txVolume(USD),price(USD),exchangeVolume(USD),fees,activeAddresses,paymentCount,medianTxValue(USD),medianFee,weekdays,week_of_year
10,1,1.000000e+06,miner,415486.0,2.0,0.0,3.473766,12873,6804.0,1.75,0.0,5,43
11,1,2.090692e+11,miner,415486.0,2.0,0.0,3.283586,11401,5728.0,1.75,0.0,6,43
12,17,8.500000e+10,miner,415486.0,2.0,0.0,3.121853,12022,6261.0,1.75,0.0,0,44
13,8,4.000000e+10,miner,415486.0,2.0,0.0,4.903030,12768,6216.0,1.75,0.0,1,44
14,3,2.000000e+10,miner,415486.0,2.0,0.0,3.298679,13117,6327.0,1.75,0.0,2,44

#### Create a working dataset, define X,Y  and standardize

In [48]:
#Creating a df with 12 features

df_ml = df1

In [49]:
df_ml.dtypes

number_of_txin           int64
income                 float64
sector_txin             object
txVolume(USD)          float64
price(USD)             float64
exchangeVolume(USD)    float64
fees                   float64
activeAddresses          int64
paymentCount           float64
medianTxValue(USD)     float64
medianFee              float64
weekdays                 int64
week_of_year             int64
dtype: object

In [50]:
df_ml.head()

,number_of_txin,income,sector_txin,txVolume(USD),price(USD),exchangeVolume(USD),fees,activeAddresses,paymentCount,medianTxValue(USD),medianFee,weekdays,week_of_year
10,1,1.000000e+06,miner,415486.0,2.0,0.0,3.473766,12873,6804.0,1.75,0.0,5,43
11,1,2.090692e+11,miner,415486.0,2.0,0.0,3.283586,11401,5728.0,1.75,0.0,6,43
12,17,8.500000e+10,miner,415486.0,2.0,0.0,3.121853,12022,6261.0,1.75,0.0,0,44
13,8,4.000000e+10,miner,415486.0,2.0,0.0,4.903030,12768,6216.0,1.75,0.0,1,44
14,3,2.000000e+10,miner,415486.0,2.0,0.0,3.298679,13117,6327.0,1.75,0.0,2,44

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [52]:
sc = StandardScaler()

X = sc.fit_transform(df_ml.drop(columns = "sector_txin"))
y = df_ml.sector_txin

#### Running the model with different parameters and compare

In this function different parameters for balancing the data using SMOTE and for splitting it int test and train and see which results in the best outcome of our models

In [53]:
from imblearn.over_sampling import SMOTE
sm = SMOTE()
from sklearn.tree import DecisionTreeClassifier 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import plot_confusion_matrix, classification_report, accuracy_score
from sklearn import tree
from sklearn.datasets import make_classification
from sklearn.metrics import plot_confusion_matrix

In [54]:
df_ml.shape

(264538, 13)

In [55]:
df_ml['sector_txin'].value_counts().to_frame()

          sector_txin
services       118711
exchange        88157
gambling        36625
miner           15177
Illicit          5868

In [56]:
#from imblearn.over_sampling import SMOTENC
#smote_nc = SMOTENC(categorical_features=[], random_state=0)
#X_resampled, y_resampled = smote_nc.fit_resample(X, y)

In [57]:
X_res, y_res = sm.fit_resample(df_ml.drop(columns=["sector_txin"]), df_ml["sector_txin"])

In [58]:
df_ml = pd.concat([X_res, y_res], axis=1)
df_ml

,number_of_txin,income,txVolume(USD),price(USD),exchangeVolume(USD),fees,activeAddresses,paymentCount,medianTxValue(USD),medianFee,weekdays,week_of_year,sector_txin
0,1,1.000000e+06,4.154860e+05,2.000000,0.000000e+00,3.473766,12873,6804.000000,1.750000,0.0000,5,43,miner
1,1,2.090692e+11,4.154860e+05,2.000000,0.000000e+00,3.283586,11401,5728.000000,1.750000,0.0000,6,43,miner
2,17,8.500000e+10,4.154860e+05,2.000000,0.000000e+00,3.121853,12022,6261.000000,1.750000,0.0000,0,44,miner
3,8,4.000000e+10,4.154860e+05,2.000000,0.000000e+00,4.903030,12768,6216.000000,1.750000,0.0000,1,44,miner
4,3,2.000000e+10,4.154860e+05,2.000000,0.000000e+00,3.298679,13117,6327.000000,1.750000,0.0000,2,44,miner
...,...,...,...,...,...,...,...,...,...,...,...,...,...
593550,30,7.520901e+10,2.627761e+08,218.351259,2.732007e+07,14.469187,236819,177529.226460,45.280179,0.0001,1,10,miner
593551,2,5.034417e+09,2.505770e+08,280.253931,1.565916e+07,17.318233,271746,282898.368702,36.333850,0.0001,4,5,miner
593552,45,1.128219e+11,2.136813e+08,461.238547,6.531721e+06,11.431627,183842,129719.194033,64.653618,0.0001,0,21,miner
593553,15,4.029180e+10,2.475471e+06,411.377023,5.116201e+06,29.168688,58548,70621.634456,4.028303,0.0005,5,33,miner
593554,59,1.478815e+11,3.683785e+08,753.002103,2.410783e+07,10.802762,131062,110932.926748,97.866732,0.0001,6,9,miner

In [59]:
df_ml['sector_txin'].value_counts().to_frame()

          sector_txin
services       118711
Illicit        118711
exchange       118711
gambling       118711
miner          118711

#### Using Decision Tree Classifier

In [60]:
 for test in [0.2, 0.25, 0.3]:
    X_train, X_test, y_train, y_test = train_test_split(X_res, y_res, test_size=test, random_state=42)
    dtclas = tree.DecisionTreeClassifier()
    
    # fit model on the training dataset
    dtclas.fit(X_train, y_train)
    
    #test prediction on test data
    y_pred = dtclas.predict(X_test)
    
    # evaluate on the train dataset
    print(classification_report(y_test, y_pred, output_dict=False))

              precision    recall  f1-score   support

     Illicit       0.95      0.95      0.95     23530
    exchange       0.78      0.77      0.77     23991
    gambling       0.78      0.79      0.78     23782
       miner       0.94      0.94      0.94     23680
    services       0.82      0.82      0.82     23728

    accuracy                           0.85    118711
   macro avg       0.85      0.85      0.85    118711
weighted avg       0.85      0.85      0.85    118711

              precision    recall  f1-score   support

     Illicit       0.95      0.95      0.95     29486
    exchange       0.77      0.76      0.77     29910
    gambling       0.78      0.78      0.78     29602
       miner       0.94      0.94      0.94     29646
    services       0.82      0.83      0.82     29745

    accuracy                           0.85    148389
   macro avg       0.85      0.85      0.85    148389
weighted avg       0.85      0.85      0.85    148389

              precision    recall  f1-score   support

     Illicit       0.95      0.95      0.95     35431
    exchange       0.77      0.76      0.77     35852
    gambling       0.78      0.78      0.78     35675
       miner       0.94      0.94      0.94     35511
    services       0.82      0.82      0.82     35598

    accuracy                           0.85    178067
   macro avg       0.85      0.85      0.85    178067
weighted avg       0.85      0.85      0.85    178067

#### Random Forest Classifier

In [62]:
 for test in [0.2, 0.25, 0.3]:
    X_train, X_test, y_train, y_test = train_test_split(X_res, y_res, test_size=test, random_state=42)
    clasRF = RandomForestClassifier(max_depth=5, random_state=42, n_estimators = 100)
    
    # fit model on the training dataset
    clasRF.fit(X_train, y_train)
    
    #test prediction on test data
    y_pred = clasRF.predict(X_test)
    
    # evaluate on the train dataset
    print(classification_report(y_test, y_pred, output_dict=False))

              precision    recall  f1-score   support

     Illicit       0.93      0.76      0.84     23530
    exchange       0.63      0.82      0.71     23991
    gambling       0.68      0.62      0.65     23782
       miner       0.86      0.85      0.86     23680
    services       0.71      0.70      0.71     23728

    accuracy                           0.75    118711
   macro avg       0.76      0.75      0.75    118711
weighted avg       0.76      0.75      0.75    118711

              precision    recall  f1-score   support

     Illicit       0.93      0.76      0.84     29486
    exchange       0.61      0.82      0.70     29910
    gambling       0.69      0.60      0.64     29602
       miner       0.86      0.85      0.86     29646
    services       0.69      0.68      0.69     29745

    accuracy                           0.74    148389
   macro avg       0.76      0.74      0.75    148389
weighted avg       0.76      0.74      0.75    148389

              precision    recall  f1-score   support

     Illicit       0.93      0.76      0.84     35431
    exchange       0.61      0.83      0.70     35852
    gambling       0.70      0.59      0.64     35675
       miner       0.87      0.85      0.86     35511
    services       0.70      0.70      0.70     35598

    accuracy                           0.75    178067
   macro avg       0.76      0.75      0.75    178067
weighted avg       0.76      0.75      0.75    178067

On a first glance the Decision-Tree Classifier works better than the Random Forest Classifier. 
I would need to check however, if I am overfitting the model.  (Especially the classes "illicit" and "miners" seem to perfom a little bit too well. 

For both models there is no significant difference in the outcome, if I change the test / training size. I will therefore stick to a test-size of 0.3% of the data.

#### Overfitting Analysis

For checking, whether my modesl overfit I will prune the trees by trying out different tree max_depths

In [ ]:
#Test the Decision Tree model with exploring different tree depth

In [ ]:
# define the tree depths to evaluate
depth = [i for i in range(1, 21)]

# define lists to collect scores
train_scores, test_scores = list(), list()

# evaluate a decision tree for each depth
for i in depth:
    X_train, X_test, y_train, y_test = train_test_split(X_res, y_res, test_size=0.3, random_state=42)
    clas = tree.DecisionTreeClassifier(max_depth = i)
    
    #fit model on the training dataset
    clas.fit(X_train, y_train)
    
    # evaluate on the train dataset
    trainy_pred = clas.predict(X_train)
    train_acc = accuracy_score(y_train,trainy_pred)
    train_scores.append(train_acc)
    
    # evaluate on the test dataset
    y_pred =clas.predict(X_test)
    test_acc = accuracy_score(y_test, y_pred)
    test_scores.append(test_acc)
      
    #print summary of progress
    print('>%d, train: %.3f, test: %.3f' % (i, train_acc, test_acc))

We can see a trend of increasing accuracy on the training dataset with the tree depth to a point around a depth of 19-20 levels where the tree fits the training dataset almost perfectly. We can also see that the accuracy on the test set improves with tree depth. However up to a depth of 6 we can see that the test datasets performs better than the train dataset, afterwards the performance in relation to the train dataset declines

In [ ]:
# plot of train and test scores vs tree depth
pyplot.plot(depth, train_scores, '-o', label='Train')
pyplot.plot(depth, test_scores, '-o', label='Test')
pyplot.legend()
pyplot.show()

Even with a tree depth of 6 the Decision-Tree-Classifier slightly performs better than the Random Forest. I will run the same test on the Random Forest Classifier.

In [ ]:
#from sklearn.ensemble import RandomForestClassifier

In [ ]:
'''
# define the tree depths to evaluate
depth = [i for i in range(1, 21)]

# define lists to collect scores
train_scores, test_scores = list(), list()

# evaluate a decision tree for each depth
for i in depth:
    X_train, X_test, y_train, y_test = train_test_split(X_res, y_res, test_size=0.3, random_state=42)
    clasRF = RandomForestClassifier(max_depth = i)
    
    #fit model on the training dataset
    clasRF.fit(X_train, y_train)
    
    # evaluate on the train dataset
    trainy_pred =  clasRF.predict(X_train)
    train_acc = accuracy_score(y_train,trainy_pred)
    train_scores.append(train_acc)
    
    # evaluate on the test dataset
    y_pred = clasRF.predict(X_test)
    test_acc = accuracy_score(y_test, y_pred)
    test_scores.append(test_acc)
      
    #print summary of progress
    print('>%d, train: %.3f, test: %.3f' % (i, train_acc, test_acc))

In [ ]:
'''

# plot of train and test scores vs tree depth
pyplot.plot(depth, train_scores, '-o', label='Train')
pyplot.plot(depth, test_scores, '-o', label='Test')
pyplot.legend()
pyplot.show()

### Getting the Confusion Matrix for the Decision-Tree Classifier with depth = XYZ

In [ ]:
disp = plot_confusion_matrix(dtclas, X_test, y_test )

disp.ax_.set_title("Confusion Matrix \n Decision Tree")

### Calculate Feature Importance for depth XYZ

In [ ]:
importance = dtclas.feature_importances_

# summarize feature importance
for i,v in enumerate(importance):
	print('Feature: %0d, Score: %.5f' % (i,v))
    
# plot feature importance
pyplot.bar([x for x in range(len(importance))], importance)
pyplot.show()

In [ ]:
df_ml.head()

### Test the Decision-Tree again after dropping the least important features

In [ ]:
#Creating the reduced df

df_ml_red = df_ml.drop(['txVolume(USD)','exchangeVolume(USD)','medianTxValue(USD)', 'weekdays', 'fees', 'paymentCount'], axis = 1 )

In [ ]:
#Sample the data

X_res2, y_res2 = sm.fit_resample(df_ml_red.drop(columns=["sector_txin"]), df_ml_red["sector_txin"])

df_ml_red['sector_txin'].value_counts().to_frame()

In [ ]:
#Testing the Decision Tree Classifier with my aboved deducted parameters and the reduced df

#Splitting into Test and TrainData
X_train2, X_test2, y_train2, y_test2 = train_test_split(X_res2, y_res2, test_size=0.3, random_state=42)
dtclas = tree.DecisionTreeClassifier()
    
# fit model on the training dataset
dtclas.fit(X_train2, y_train2)
    
#test prediction on test data
y_pred2 = dtclas.predict(X_test2)
    
# evaluate on the train dataset
print(classification_report(y_test2, y_pred2, output_dict=False))

After dropping some of the  df_ml_red = df_ml.drop(['txVolume(USD)','exchangeVolume(USD)','medianTxValue(USD)', 'weekdays'], axis = 1 )

slightly worse recall for illicit and miner and service, the accuracy stayed the same. I would therefore not drop those features for now.

### Testing other Models for comparision

In [ ]:
#create a copy of the working df

In [ ]:
df_ml2 = df_ml

In [ ]:
df_ml2.head()

In [ ]:
df_ml2.shape

In [ ]:
df_ml2['sector_txin'].value_counts().to_frame()

In [ ]:
#encode target values first

In [ ]:
df_ml2['exchange'] = np.where(df_ml2['sector_txin'] == 'exchange', 1, 0)

In [ ]:
df_ml2['services'] = np.where(df_ml2['sector_txin'] == 'services', 1, 0)

In [ ]:
df_ml2['illicit'] = np.where(df_ml2['sector_txin'] == 'illicit', 1, 0)

In [ ]:
df_ml2['miner'] = np.where(df_ml2['sector_txin'] == 'miner', 1, 0)

In [ ]:
df_ml2['gambling'] = np.where(df_ml2['sector_txin'] == 'gambling', 1, 0)

In [ ]:
df_ml2.drop('sector_txin', axis=1)

#test

X = df_ml2.drop(['exchange','services', 'miner', 'illicit' ,'gambling'] , axis=1)
y = np.array(['exchange','services', 'miner', 'illicit' ,'gambling'])

In [ ]:
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier #doublecheck if it works well with multiclass
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import ExtraTreeClassifier

#### Plotting the Gaussian Process

  #Define features and target values
    X = df_ml2.drop(['exchange','services', 'miner', 'illicit' ,'gambling'] , axis=1)
    y = np.array(['exchange','services', 'miner', 'illicit' ,'gambling'])

    
    # Looping through all classifiers  
    for cl in cls:
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=17)

        
        cl.fit(X_train, y_train)
        pred = cl.predict(X_test)
        # print(classification_report(y_test, pred))
        accuracies[cl.__class__.__name__] = accuracy_score(y_test, pred)
        #print(accuracy_score(y_test, pred))
    return accuracies

#Creating a list of classifiers to test our model with
cls_lst = [GaussianProcessClassifier(), GaussianNB(), ExtraTreeClassifier()]

#Defining a function to compare the different models
def evaluate(df, cls):
    accuracies = {}
    
    #Define features and target values
    X = df_ml2.drop(['exchange','services', 'miner', 'illicit' ,'gambling'] , axis=1)
    y = np.array(['exchange','services', 'miner', 'illicit' ,'gambling'])

    
    # Looping through all classifiers  
    for cl in cls:
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=17)

        
        cl.fit(X_train, y_train)
        pred = cl.predict(X_test)
        # print(classification_report(y_test, pred))
        accuracies[cl.__class__.__name__] = accuracy_score(y_test, pred)
        #print(accuracy_score(y_test, pred))
    return accuracies

accuracy_dict = evaluate(df_ml, cls_lst)

accuracy_df = pd.DataFrame(accuracy_dict, index=[0])

In [ ]:
#evaluate()

##### check for Xgboost

https://stackoverflow.com/questions/57986259/multiclass-classification-with-xgboost-classifier

In [ ]:
#    X_train, X_test, y_train, y_test = train_test_split(X_res, y_res, test_size=0.3, random_state=42)
#    clas = tree.DecisionTreeClassifier(max_depth = i)
    
    #fit model on the training dataset
#    clas.fit(X_train, y_train)

In [ ]:
#disp = plot_confusion_matrix(dtclas, X_test, y_test )

#disp.ax_.set_title("Confusion Matrix \n Decision Tree")

#### Things I would like to go back to do

In [ ]:
#Testing the Random Forest model with X-test, which is not sampled but weighted class